html,
body {
  border: 0px;
  margin: 0px;
}
.header {
  /* margin-top: 40px; */
  display: flex;
  justify-content: space-around;
  background-color: #4caf50;
  height: 60px;
  align-items: center;
}
.header div,
i {
  color: white;
  font-size: 23px;
}
.space {
  height: 60px;
  width: 70px;
  background-color: #3b3b3b;
  display: flex;
}
