.top {
    height: 20px;
    margin-top: 100px;
    width: 650px;
    border: 1px solid #817b7b;
    border-bottom: 1px solid #000;
    background-color: #a6c013;
    border-radius: 5px;
  
}    
.leftleg {
    height: 305px;
    width: 20px;
    border: 1px solid #817b7b;
    border-top: 1px solid #a6c013;
    border-right: 1px solid black;
    border-radius: 2px;
    background-color: #a6c013;
    margin-left: 34px;
    margin-top: -2px;
   
}
.rightleg {
    height: 305px;
    width: 20px;
    border: 1px solid #817b7b;
    border-top: 1px solid #a6c013;
    
    border-radius: 2px;
    background-color: #a6c013;
    margin-left: 592px;
    margin-top: -307px;
  
}
/* .back {
    height: 200px;
    width: 538px;
    background-color: #333;
    margin-left: 55px;
    margin-top: -308px;
} */
.backleg {
    height: 0px;
    width: 0px;
    border-top: 265px solid #333;
    border-bottom: 40px solid transparent;
    border-left: 100px solid #333;
    border-right: 0px solid transparent;
    margin-left: 56px;
    margin-top: -305px;
   
}
.back {
    height: 261px;
    width: 436px;
    background-color: #333;
    border-top: 3px solid transparent;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 154px;
    margin-top: -305px;
}
.cup {
    height: 45px;
    width: 32px;
    background-color: #d39b34;
    margin-top: -334px;
    margin-left: 100px;
    border-top: 1px solid transparent;
    border: 1px solid black;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.handle {
    height: 3px;
    width: 13px;
    background-color: black;
    margin-left: 133px;
    margin-top: -38px;
    border: 1px solid black;
    border-top-right-radius: 8px;
}
.handle3 {
    height: 3px;
    width: 13px;
    background-color: black;
    margin-left: 133px;
    margin-top:-2px;
    border: 1px solid black;
    border-bottom-right-radius: 8px;
}
 .handle2 {
    height: 15px;
    width: 3px;
    background-color: black;
    margin-left: 143px;
    border: 1px solid black;
    
} 
